{{bs-growl-notifications}}
{{render "navigation"}}

<div class="container">
    {{outlet}}
    {{outlet modal}}
</div>
<hr class="hidden-print">

<footer class="hidden-print">
    <p>&copy; Xanos 2014</p>
</footer>

